<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/<%= @base_url %>" />
    <meta name="admin/config/environment" content="<%= CGI.escape(@environment.to_json)%>" />

    <script>
      window.RAILS_ENV = {
        baseURL: '<%= @base_url %>'
      }
    </script>
    <link rel="stylesheet" href="/front_end_builds/assets/vendor-3c1dcb2d618332b55c551930c7243a6d.css">
    <link rel="stylesheet" href="/front_end_builds/assets/admin-6e8b51c1fa45dff439432a84bd960321.css">


  </head>
  <body>


    <script src="/front_end_builds/assets/vendor-c069a7d0b9460d6f468d68725fe9735a.js"></script>
    <script src="/front_end_builds/assets/admin-f25ecb5b2d79e9768901875c77498bca.js"></script>


  </body>
</html>
